<div class="static">
<h1>Help reform health care</h1>

<p>Several groups are working to provide meaningful health care reform in the United States:</p>
<div class="action">
	<div>
		<p><a href="http://www.barackobama.com/"><%= image_tag("logos/ofa.png", :size => "195x43", :alt => "Organizing for America") %></a></p>
	</div>
	<div>
		<p><a href="http://www.moveon.org/"><%= image_tag("logos/moveon.png", :size => "195x43", :alt => "MoveOn") %></a></p>
	</div>
	<div>
		<p><a href="http://healthcareforamericanow.org/"><%= image_tag("logos/hcan.png", :size => "195x43", :alt => "Health Care for America Now!") %></a></p>
	</div>
	<div>	
		<p><a href="http://prescriptionforchange.org/"><%= image_tag("logos/consumersunion.png", :size => "195x43", :alt => "Consumers Union") %></a></p>
	</div>
	<div>
		<p><a href="http://www.couragecampaign.org/"><%= image_tag("logos/courage.png", :size => "195x43", :alt => "Courage Campaign") %></a></p>
	</div>
	<div>
		<p><a href="http://www.democracyforamerica.com/"><%= image_tag("logos/dfa.png", :size => "195x61", :alt => "Democracy for America") %></a></p>
	</div>
	<div>
		<p><a href="http://www.drsforamerica.org/"><%= image_tag("logos/doctorsforamerica.png", :size => "195x53", :alt => "Doctors for America") %></a></p>
	</div>
</div>

<div class="clear"></div>

<p>Join their mailing lists. Attend their events.</p>
<p>Canvass. Talk to your friends and neighbors. Write a letter to the editor of your local paper.</p>

<h3>Online resources</h3>
<ul>
<li>Visit OFA&rsquo;s <a href="http://healthcare.barackobama.com/">Health Care Action Center</a>.</li>
<li><a href="http://www.whitehouse.gov/realitycheck/">Get the facts about health insurance reform</a> from the White House.</li>
<li>Call <a href="http://www.house.gov/">your congressperson</a> and <a href="http://www.senate.gov/">senators</a>.</li>
</ul>


<h2>Help Stories of Health</h2>

<p>Want to support Stories of Health? We&rsquo;d love your help. If you can edit video, transcribe stories or promote the site, let us know. Have gear (camera, lights, green screen) to loan us or want to help interview storytellers? Email us at <a href="#" onclick="window.location='mailto:info@'+'storiesofhealth.org?subject=I%20Want%20to%20help';">info @ storiesofhealth.org</a>.</p>

</div>