<%- compute_tag_sentence(@story) -%>
<div id="video" class="video">
	<object class="video" type="application/x-shockwave-flash" data="http://www.youtube.com/v/<%= @story.youtube_id %>">
		<param name="movie" value="http://www.youtube.com/v/<%= @story.youtube_id %>"></param>
	</object>

		<div class="share">
			<p>
			<a href="http://www.addthis.com/bookmark.php" class="addthis_button">Share <%= @story.first_name %>’s story</a> with your friends. <a href="<%= permalink(@story) %>" class="permalink">permalink</a></p>
			
			<p>See more stories about people <a class="tag" href="<%= @story.city_tag %>">from <%= @story.city %></a><%= @join_phrase %> who <%= @tag_sentence %>.
			</p>
		</div>
</div>

<%- if params[:action] == "story" #AJAX load -%>
<script type="text/javascript" charset="utf-8">
// <![CDATA[
currentUrl = '<%= permalink(@story) %>';	
$('title').text('<%= "Stories of Health » #{@story.first_name}’s story" %>');
// ]]>
</script>
<%- end -%>
<% if @browser %>
<%= render :partial => "browser" %>
<% end %>