<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Stories of Health » <%= @subtitle %></title>

	<%= stylesheet_link_tag "soh.css" %>
	<%= stylesheet_link_tag "scrollable-navig.css" %>
	<%- if RAILS_ENV == "development" -%>
	<%= javascript_include_tag "jquery-1.3.2.js" %>
	<%= javascript_include_tag "jquery.tools.scrollable-1.0.5.js" %>
	<%= javascript_include_tag "jquery.mousewheel.js" %>
	<%- else -%>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
	<%= javascript_include_tag "jquery.tools.scrollable-1.0.5.min.js" %>
	<%= javascript_include_tag "jquery.mousewheel.min.js" %>
	<%- end -%>
	<%= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js?pub=storiesofhealth" %>
	<%= javascript_include_tag "soh.js" %>
</head>

<body>
	
	<div class="container">
		<div class="narrow">
			<%= link_to(image_tag("logo-small.png", :size=>"312x212", :alt=>"Stories of Health"), :action => :index) %>

			<div id="about">
			<p>Health care in the United States is broken.</p>
	
			<p>To fully understand how severe of a crisis we’re in, people from all over California told us about their experiences with a system in dire need of reform.</p>

			</div>		
		</div>
	
		<div class="wide">
		<%= yield %>
		</div><!-- wide -->

		<div id="footer">
			<ul>
				<li><%= link_to("About", :action => :about) %></li>
				<li><%= link_to("Share Your Story", :action => :share) %></li>
				<li><%= link_to("Take Action", :action => "action") %></li>
				<li><%= link_to("All Stories", :action => "video") %></li>
			</ul>
		</div>
	</div>
	

<%- if RAILS_ENV != "development" -%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1895263-5");
pageTracker._trackPageview();
} catch(err) {}
</script>
<%- end -%>

</body>
</html>
